<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>エアロバイク データ</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="wrap">
  <div class="frame">
    <div class="name">UTAGE.GAMES</div>
    <div class="rows distance"><h1 class="label">距離</h1><strong id="distance" class="value bold">000.0</strong><p class="unit">km</p></div>
    <div class="rows speed"><h1 class="label">スピード</h1><strong id="speed" class="value bold">00.0</strong><p class="unit">km/h</p></div>
    <div class="rows time"><h1 class="label">時間</h1><strong id="time" class="value bold">00:00:00</strong></div>
    <div class="rows calories"><h1 class="label">消費カロリー</h1><strong id="calories" class="value bold">0000.0</strong><p class="unit">kcal</p></div>
    <div class="cadence"><h1 class="label">ケイデンス</h1><strong id="cadence" class="value bold">000.0</strong><p class="unit"> RPM</p>
      <div class="graph">
        <svg viewBox="0 0 64 64"><circle cx="32" cy="32" r="31" stroke="black" stroke-width="1" fill="transparent" /><circle r="0" class="circle" /></svg>
      </div>
    </div>
  </div>
</div>

<div class="a">

  <p>状態: <span id="status">接続待機中</span></p>
  <p>最終更新: <span id="last-update">-</span></p>
  <p><button onclick="resetSession()">リセット</button></p>

</div>

<script type="text/javascript" src="/static/script.js"></script>
</body>
</html>
