@font-face {
  font-family: 'Font';
  src: url('/fonts/Font.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Font';
  src: url('/fonts/Font_bold.ttf') format('truetype');
  font-weight: bold;
}

:root{
  --cadence-rate: 70;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Font', sans-serif;
}

.wrap {
  width: 250px;
  height: 122px;
  box-sizing: border-box;
  border: 2px solid white;
  .frame {
    width: 100%;
    height: 100%;
    border: 2px solid #000;
    padding: 2px;
    box-sizing: border-box;
    background-color: white;

    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "distance distance name" "cadence calorie calorie" "speed speed time";
    .rows{
      display: flex;
      line-height: 1;
      align-items: center;
      gap: 0 5px;
    }
    .label{
      font-weight: 400;
      font-size: 15px;
      margin: 0;
    }
    .value {
      font-weight: bold;
    }
    .unit {
      line-height: 1;
      margin: 0;
    }

    .distance{
      grid-area: distance;
    }
    .name{
      grid-area: name;
      background-color: black;
      color: white;
      line-height: 1;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 4px;
      margin: -2px -4px 0 0;
    }
    .cadence{
      grid-area: cadence;
      align-self: center;
      display: grid;
      width: 64px;
      aspect-ratio: 1;
      line-height: 1;
      font-size: 0;
      padding: 0 7px;
      .label{
        display: none;
      }
      .value{
        grid-area: 1/1/2/2;
        z-index: 10;
        place-self: center;
        font-size: 12px;
        background-color: white;
        border-radius: 999px;
        aspect-ratio: 1;
        display: flex;
        place-items: center;
        padding: 4px;
        border: 1px solid black;
        box-sizing: border-box;
        width: 40px;
        justify-content: end;
      }
      .unit{
        display: none;
      }
      .graph{
        grid-area: 1/1/2/2;
        .circle{
          cx: 32px;
          cy: 32px;
          r: 16px;
          fill: transparent;
          stroke: black;
          stroke-width: 32px;
          stroke-dasharray: var(--cadence-rate), calc(100 - var(--cadence-rate));
          stroke-dashoffset: 25;
          transition: stroke-dasharray .3s ease;
        }
      }
    }
    .calories{
      grid-area: calorie;
      align-self: center;
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      .label{
        grid-area: 1/1/2/3;
      }
      .value{
        font-size: 40px;
        align-self: baseline;
      }
      .unit{
        align-self: baseline;
      }

    }
    .speed{
      grid-area: speed;
    }
    .time{
      grid-area: time;
    }


  }
}